@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Raleway&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Titillium Web', sans-serif;
  /* background-color: #3cb665; */
}

a {
  text-decoration: none;
}

p {
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

#header {
  position: relative;
  z-index: 999;
  top: 0;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.desk-brand {
  display: block !important;
}

.mob-brand {
  display: none !important;
}

.dropdown-menu li {
  margin-bottom: 5px;
}


.social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 0 !important;
  overflow: hidden;
}

.top-right a {
  color: #5a5a5c;
}

.media .social_media i {
  color: #fff;
  font-size: 18px;
  padding: 7px;
}

.media .social_media a {
  border: 1px solid #fff;
  padding: 7px;
  border-radius: 50%;
  font-size: 16px;
  margin-left: 8px;
}

.navbar-brand {
  /* width: 36%; */
  /* margin-top: -30px; */
  text-align: center;
}

.navbar-brand img {
  margin-top: -18px;
  /* width: 50% !important; */
}

.navbar-nav {
  border-top: 1px solid #fff
}

.navbar-nav li a {
  color: #000 !important;
  font-size: 16px;
}

.navbar-nav .dropdown-menu li a {
  color: #000 !important;
}

.navbar-nav li:nth-child(-n + 7):after {
  content: "";
  border-right: 2px solid #000;
  display: block;
  width: 100%;
  height: 18px;
  margin-top: -33px;
}

.navbar-nav .dropdown-menu li:nth-child(-n+7):after {
  display: none;
}




/* .bs-example {
  margin: auto;
  width: 25%;
}

@media screen {

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  
  .dropdown-menu {
    margin: auto;
  }

  .dropdown-toggle {
    margin: auto;
  }

  .navbar .dropdown-toggle,
  .nav-tabs .dropdown-toggle {
    margin: auto;
  }
} */


.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}




@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    align-items: end;
    justify-content: end;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 10px;
  }
}

.mainMenu {
  margin-top: -10px;
}

.nav-button {
  margin-top: 10px;
}

.btn {
  background-color: #f49627;
  color: #fff;
  border-radius: 0px;
  /* margin-left: 30px; */
  width: 150px;
}

.btn:hover {
  background-color: #363637;
  color: #fff;
}

.menutop {
  /* display: flex;
  align-items: center;
  justify-content: end; */
  /* padding-right: 50px; */
  padding-top: 20px;
  margin-bottom: 10px;
}

.menutop .top-left p {
  margin-bottom: 0px !important;
  padding-bottom: 15px;
}

.menutop .top-left {
  margin-right: 30px;
  border-bottom: 1px solid #000;
}

.top-right {
  width: 150px;
}

.menutop .top-right p {
  margin-bottom: 0px !important;
}

.banner {
  margin-top: 50px;
}

.banner h1 {
  font-size: 60px;
  line-height: 65px;
}

.banner h1 span {
  color: #f49627;
}


.banner1 {
  margin: 50px 0;
}

.banner1 h1 {
  padding-bottom: 10px;
  border-bottom: 2px solid #f49627;
}

.artbutton {
  display: flex;
  align-items: end;
  height: 75%;
}

/* .banner1 .prints{
  padding: 30px;
  height: 230px;
  background-color: #ebebeb;
} */



.banner1 .prints h5 {
  color: #f49627;
  font-weight: bold;
}

/* .btn{
  border-radius: 0px;
  background-color: #f49627;
  color: #fff;
} */

.banner1 .printers {
  position: relative;
}

.banner1 .image {
  display: block;
  width: 100%;
}

.banner1 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.banner1 .printers:hover .overlay {
  opacity: 1;
}

.banner1 .text {
  color: white;
  position: absolute;
  top: 30%;
  padding: 20px;
}

.banner1 .text a {
  color: #000;
}

.banner1 .content {
  padding: 30px;
  height: 230px;
  background-color: #ebebeb;
}


.banner1 .content h5 {
  color: #f49627;
  font-weight: bold;
}


.banner2 {
  margin: 50px 0;
}

.accordion-flush {
  background-color: #ebebeb;
}


.accordion-flush ul {
  margin-bottom: 0px;
  list-style: url(../images/listStyle.png);
}

.banner3 {
  margin: 50px 0;
  padding: 50px 0;
  background-color: #ebebeb;
}


.banner3 .industries {
  border: 1px solid #000;
  padding: 10px 10px 0px;
  height: 145px;
}

.banner3 .industries h6 {
  font-weight: bold;
}


.banner4 {
  margin: 50px 0;
  padding: 50px 0;
}

.banner4 .commitment {
  position: relative;
}

.banner4 .image {
  display: block;
  width: 100%;
}

.banner4 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
}

.banner4 .commitment:hover .overlay {
  opacity: 1;
  border: 1px solid #000;
}

.banner4 .text {
  color: #000;
  position: absolute;
  /* top: 30%; */
  padding: 10px;
}

.banner4 .text h6 {
  font-weight: bold;
  font-size: 1.3rem;
  color: #f49627;
}

.banner4 .text a {
  color: #000;
}

.commitmentbutton {
  display: flex;
  align-items: end;
  height: 40%;
}

.banner4 h1 {
  font-size: 2.1rem;
  padding-bottom: 10px;
  border-bottom: 2px solid #f49627;
}


.banner5 {
  padding: 50px 0;
  background-color: #ebebeb;
}



.banner6 {
  padding: 50px 0;
  background-color: #f49627;
}




.footer {
  padding: 50px 0px;
}



.footer .usefulLinks li {
  list-style: none;
}

.fa-facebook {
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 7px;
  margin-left: 6px;
  color: #000;
}

.fa-instagram {
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 7px;
  margin-left: 6px;
  color: #000;
}

.fa-x-twitter {
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 7px;
  color: #000;
  margin-left: 6px;
}

.footer .usefulLinks a {
  color: #000;
}

.copyright {
  background-color: #59585c;
  padding: 15px;
}

/* About Page */

.abtbanner1 {
  margin: 50px 0;
  background-color: #ebebeb;
  padding: 50px 0;
}



.abtbanner1 .corevalues {
  background-color: #5a5a5c;
  padding: 20px;
  color: #fff;
}

.abtbanner1 .corevalues p span {
  text-transform: uppercase;
  color: #f49627;
  font-weight: bold;
}

.abtbanner2 {
  margin-bottom: 50px;
}


.abtbanner2 p {

  /* display: flex;
  align-items: center; */
  padding: 10px;
  margin: 0;
  color: #000;
}

.abtbanner2 .ourComprehensive {
  text-align: center;
}

.abtbanner2 .ourComprehensive img {
  width: 100px;
}

.abtbanner2 .ourComprehensive .Compr_Serv {
  padding: 10px;
  height: 150px;
  color: #000;
}

.abtbanner2 .col-lg-3:nth-child(-n+3):after {
  content: "";
  border-right: 2px solid #000;
  display: block;
  width: 100%;
  height: 150px;
  margin-top: -200px;
}

.abtbanner2 .ourComprehensive .Compr_Serv h5 {
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: bold;
}


.abtbanner3 {
  padding: 50px 0;
  background-color: #ebebeb;
}

.abtbanner3 .produ_cap {
  display: flex;
}

.abtbanner3 .capability {
  padding: 10px;
}

.abtbanner3 .capability h5 {
  font-weight: bold;
}


/* 3D PRINTING */

.printbannermain {
  background-image: url(../images/Print_Bnner_Main.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 150px;
  margin-bottom: 38px;
}

.printbannermain2 {
  background-image: url(../images/Print_Bnner_Main2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 150px;
  margin-bottom: 38px;
}

.printbannermain3 {
  background-image: url(../images/Print_Bnner_Main.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 150px;
  margin-bottom: 38px;
}

.printbannerText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}


.printbanner2Text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}


.printbanner3Text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}



.printbannerText h1 {
  width: 450px;
  background-color: #f49627;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

.printbanner2Text h1 {
  width: 450px;
  background-color: #f49627;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}


.printbanner3Text h1 {
  width: 450px;
  background-color: #66552233;
  color: #1a1818;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}


/* FDM 3D Printing */


.printbanner1 {
  padding: 50px 0;
}

.printbanner1 .printbanner1Fused {
  padding: 60px;
}

.printbanner1 .printbanner1Fused h3 {
  color: darkorange;
}


.printbanner2 {
  padding: 50px 0px;
  background-color: #ebebeb;
}

.printbanner2 ul {
  list-style: url(../images/listStyle2.png);
  margin-bottom: 0;
}

.printbanner2 ul li {
  margin-bottom: 10px;
}

.printbanner3 {
  margin: 50px 0px;
}

.printbanner3 h2 {
  color: darkorange;
}

.printbanner3 .applications h5 {
  color: #f49627;
  margin-top: 10px;
  font-weight: 800;
}

.printbanner3 h4 {
  color: #f49627;
  margin-top: 10px;
  font-weight: 800;
}


.printslaban1 {
  padding: 50px 0px;
}

.printslaban1 .printslaban1Ster {
  padding: 60px;
}

.printslaban1 .printslaban1Ster h3 {
  color: darkorange;
}

.printslaban2 {
  padding: 50px 0;
  background-color: #66552233;
}

.printslaban2 ul {
  list-style: url(../images/listStyle3.png);
  margin-bottom: 0;
}

.printslaban2 ul li {
  margin-bottom: 10px;
}


.printslaban3 {
  padding: 50px 0;
}

.printslaban3 h2 {
  color: darkorange;
}

.printslaban3 h5 {
  color: darkorange;
  font-weight: 900;
}

.printslaban3 h4 {
  color: darkorange;
  font-weight: 900;
}



.printsls {
  padding: 50px 0;
}


.printsls .printslsLaser {
  padding: 60px;
}

.printsls .printslsLaser h3 {
  color: darkorange;
}

.printsls1 {
  padding: 50px 0;
  background-color: #ebebeb;
}

.printsls1 ul {
  list-style: url(../images/listStyle2.png);
  margin-bottom: 0;
}

.printsls1 ul li {
  margin-bottom: 10px;
}


.printsls2 {
  margin: 50px 0;
}


.printsls2 h2 {
  color: darkorange;
}

.printsls2 h5 {
  color: #f49627;
  font-weight: 800;
}

.printsls2 h4 {
  color: darkorange;
  font-weight: 800;
}

.printmetal {
  padding: 50px 0;
}

.printmetal .printmetalMetal {
  padding: 60px;
}

.printmetal .printmetalMetal h3 {
  color: darkorange;
}

.printmetal1 {
  padding: 50px 0;
  background-color: #ebebeb;
}

.printmetal1 ul {
  list-style: url(../images/listStyle3.png);
  margin-bottom: 0;
}

.printmetal1 ul li {
  margin-bottom: 10px;
}

.printmetal2 {
  margin: 50px 0px;
}

.printmetal2 h2 {
  color: darkorange;
}

.printmetal2 h5 {
  color: #f49627;
  font-weight: 800;
}

.printmetal2 h4 {
  color: darkorange;
}


.printpolyjet {
  padding: 50px 0px;
}

.printpolyjet .printpolyjetPolyJet {
  padding: 60px;
}

.printpolyjet .printpolyjetPolyJet h3 {
  color: darkorange;
}


.printpolyjet1 {
  padding: 50px 0px;
  background-color: #ebebeb;
}

.printpolyjet1 ul {
  list-style: url(../images/listStyle2.png);
  margin-bottom: 0;
}

.printpolyjet1 ul li {
  margin-bottom: 10px;
}

.printpolyjet2 {
  margin: 50px 0px;
}

.printpolyjet2 h2 {
  color: darkorange;
}

.printpolyjet2 h4 {
  color: darkorange;
  font-weight: 800;
}

.printmjf {
  padding: 50px 0px;
}

.printmjf .printmjfMulti {
  padding: 60px;
}

.printmjf .printmjfMulti h3 {
  color: darkorange;
}

.printmjf1 {
  padding: 50px 0px;
  background-color: #ebebeb;
}


.printpolyjet2 h5 {
  color: #f49627;
  font-weight: 800;
}


.printmjf1 ul {
  list-style: url(../images/listStyle3.png);
  margin-bottom: 0;
}

.printmjf1 ul li {
  margin-bottom: 10px;
}

ul li strong {
  text-transform: uppercase;
  color: #f49627;
}

.printmjf2 {
  padding: 50px 0px;
}

.printmjf2 h5 {
  color: #f49627;
}

.printmjf2 h2 {
  color: darkorange;
}

.printmjf2 h4 {
  color: darkorange;
  font-weight: 800;
}

/* VACCUM CASTING */

.vaccum1 {
  padding: 50px 0px;
}

.vaccum1 h3 {
  color: darkorange;
}

.vaccum1 .banerparas {
  padding: 60px;
}

.vaccum1 .banerparas h3 {
  color: darkorange;
}

.whywe {
  background-color: #ebebeb;
  padding: 50px 0px;
}

.whywe ul {
  list-style: url(../images/listStyle.png);
  margin-bottom: 0;
}

.whywe ul li {
  margin-bottom: 10px;
}


.applications {
  margin: 50px 0px;
}

.applications h1 {
  color: darkorange;
}

.applications h5 {
  font-weight: bold;
  color: #f49627;
}

.applications h4 {
  font-weight: bold;
  color: #f49627;
}


.resource {
  padding: 50px 0px 20px;
}

.resource h1 {
  color: black;
}


.resource_Blog {
  overflow: hidden;
  padding: 50px 0;
  background-color: #cccccc;
}

.resource_Blog h1 {
  color: darkorange;
  text-transform: uppercase;

}

.resource_Blog .resoublog {
  padding: 10px;
  background-color: #fff;
  color: #1a1818;
}

.resource_Blog .resoublog h5 {
  color: #f49627;
  font-weight: bold;
}

.Guides_Tutorials {
  margin: 50px 0px;
}

.Guides_Tutorials p strong {
  text-transform: uppercase;
  color: #f49627;
}

.Frequently {
  overflow: hidden;
}

.Frequently .FAQ h4 {
  color: dark;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
}

.Frequently .FAQ {
  background-color: #cccccc;
  z-index: 1;
  position: relative;
  margin-left: -150px;
  padding: 20px;
}


.contact_journey{
  padding: 50px 0px;
}

.industries_we{
  padding: 50px 0;
}

.industries_we_serve img{
  width: 50%;
}

.industries_we_serve{
  display: flex;
  align-items: center;
}

.timeline {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  color: #ffffff;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-right: 2px dashed #c4d2e2;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 31px;
  text-align: right;
  margin-right: 20px;
  color: #000000;
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: .8rem;
  color: #8796af;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 3px;
  width: 40px;
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -50px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 100;
  background: #ffffff;
  border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
}

.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}

.timeline-row .timeline-content i {
  font-size: 2rem;
  color: #ffffff;
  line-height: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  display: inline-block;
}

.timeline-row .timeline-content .thumbs {
  margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
  margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
  background-color: #ff5000;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fc6d4c), to(#ff5000));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fc6d4c, #ff5000);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #fc6d4c, #ff5000);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fc6d4c, #ff5000);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fc6d4c, #ff5000);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #fc6d4c, #ff5000);
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -39px;
  border-right: 18px solid #ff5000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -50px;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
  background-color: #5a99ee;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1379bb), to(#5a99ee));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #1379bb, #5a99ee);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #1379bb, #5a99ee);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #1379bb, #5a99ee);
  /* IE10 */
  background-image: -o-linear-gradient(top, #1379bb, #5a99ee);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #1379bb, #5a99ee);
  margin-right: 40px;
  margin-left: 0;
  text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -39px;
  border-left: 18px solid #1379bb;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .timeline {
    padding: 15px 10px;
  }

  .timeline:after {
    left: 28px;
  }

  .timeline .timeline-row {
    padding-left: 0;
    margin-bottom: 16px;
  }

  .timeline .timeline-row .timeline-time {
    position: relative;
    right: auto;
    top: 0;
    text-align: left;
    margin: 0 0 6px 56px;
  }

  .timeline .timeline-row .timeline-time strong {
    display: inline-block;
    margin-right: 10px;
  }

  .timeline .timeline-row .timeline-icon {
    top: 52px;
    left: -2px;
    margin-left: 0;
  }

  .timeline .timeline-row .timeline-content {
    padding: 15px;
    margin-left: 56px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .timeline .timeline-row .timeline-content:after {
    right: auto;
    left: -39px;
    top: 32px;
  }

  .timeline .timeline-row:nth-child(odd) {
    padding-right: 0;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    right: auto;
    left: auto;
    top: 0;
    text-align: left;
    margin: 0 0 6px 56px;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin-right: 0;
    margin-left: 55px;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    right: auto;
    left: -39px;
    top: 32px;
    border-right: 18px solid #5a99ee;
    border-left: inherit;
  }

  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
    left: 20px;
  }

  .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
    left: 0;
  }
}















































@media (max-width:500px) {
  .menutop {
    display: none !important;
  }

  /* .navbar {
    padding: 20px;
  } */

  .navbar-brand img {
    margin-top: 0px;
    width: 100% !important;
  }

  .nav-button {
    margin-top: 10px;
    display: none;
  }

  .banner h1 {
    font-size: 45px;
    line-height: unset;
  }

  .desk-brand {
    display: none !important;
  }

  .mob-brand {
    display: block !important;
  }

  .artbutton {
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
    justify-content: center;
  }

  .mains {
    width: 100% !important;
  }

  .banner3 .industries {
    height: auto;
  }


  .abtbanner1 .ourteam {
    padding: 10px;
  }

  .abtbanner2 .ourComprehensive {
    margin-bottom: 20px;
  }

  .abtbanner2 .ourComprehensive .Compr_Ser {
    height: auto;
  }

}